/* AdminMenu Styles */
.adminmenu {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
  }
  
  .adminmenu h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Dark grey for text */
  }
  
  .adminmenu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .adminmenu1 .list-group-item {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    text-align: center;
    background-color: #fff; /* White background for list items */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px;
    color: #6c757d; /* Bootstrap primary color */
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .adminmenu1 .list-group-item:hover {
    background-color: #424242;
    color: #fff;
  }
  
  .adminmenu1 .list-group-item.active {
    background-color: #3b3a3a; /* Darker blue for active item */
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .adminmenu {
      padding: 15px;
    }
  
    .adminmenu h4 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    .adminmenu1 {
      gap: 8px;
    }
  
    .adminmenu1 .list-group-item {
      max-width: 100%;
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .adminmenu h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .adminmenu1 .list-group-item {
      font-size: 14px;
      padding: 8px 10px;
    }
  }
  